<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="projects">Projektai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="statistics">Statistika</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="emails">Paštai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="layouts">Maketai</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="defaultEmails">Laiško siuntimas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="layoutEmails">Laiško su maketu siuntimas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="logout">Logout</a>
  </li>
</ul>